body
{
    font-family: sans-serif;
    color: #0A0B4C;
}

#container
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board
{
    position: relative;

    width: 680px;
    height: 680px;
    background: url(Tobito.jpg);

    margin: 0 auto;
}

.pawn
{
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid;
    transform: scale(0.7);

    transition: top 0.75s, left 0.75s;
}

@keyframes wobble
{
  from { transform: scale(0.7); }
  to { transform: scale(0.75); }
}

.selected
{
    animation-name: wobble;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.toRelocate
{
    border-color: yellow !important;
}

.bottom
{
    background: #34AACE;
    border-color: black;
}

.top
{
    background: #D80100;
    border-color: black;
}

.cell0
{
    top: 37px;
    left: 158px;
}

.cell1
{
    top: 37px;
    left: 279px;
}

.cell2
{
    top: 37px;
    left: 401px;
}

.cell3
{
    top: 158px;
    left: 158px;
}

.cell4
{
    top: 158px;
    left: 279px;
}

.cell5
{
    top: 158px;
    left: 401px;
}

.cell6
{
    top: 279px;
    left: 158px;
}

.cell7
{
    top: 279px;
    left: 279px;
}

.cell8
{
    top: 279px;
    left: 401px;
}

.cell9
{
    top: 401px;
    left: 158px;
}

.cell10
{
    top: 401px;
    left: 279px;
}

.cell11
{
    top: 401px;
    left: 401px;
}

.cell12
{
    top: 522px;
    left: 158px;
}

.cell13
{
    top: 522px;
    left: 279px;
}

.cell14
{
    top: 522px;
    left: 401px;
}

.trigger
{
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgba(0,0,0,0);
}

#startSelector
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, 0.7);
}

.startButtons
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.starterButton
{
    width: 80%;
    height: 120px;
    border: 5px solid #0A0B4C;
    border-radius: 20px;
    background: white;

    text-align: center;
    font-size: 60px;
    line-height: 120px;


    cursor: pointer;

    margin: 20px auto;
}

.aiSelector
{
    position: relative;
    width: 680px;
    margin: 0 auto;

    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aiSelectorButton
{
    border: 5px solid #0A0B4C;
    border-radius: 20px;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;

    padding: 10px;
    margin: 10px;

    cursor: pointer;
    background: white;
}

#topSelector > .aiSelected
{
    background: #D80100AA !important;
}

#bottomSelector > .aiSelected
{
    background: #34AACEAA !important;
}
